* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", sans-serif;
}

:root {
    --ds-bg-header: #add8e6;
    --ds-bg-hmenu: #daa520;
    --ds-bg-jumbo: #00008b;
    --ds-bg-bjumbo: #ee82ee;
    --ds-bg-lighter: #ffffff;
    --ds-bg-light: #d3d3d3;
    --ds-bg-img: #1e90ff;
    --ds-bg-text: #ffc0cb;
    --ds-bg-article: #228b22;
    --ds-bg-footer: #23272a;
    --ds-bg-ext-link: #f08080;
    --ds-bg-extra-content: #20b2aa;
    --ds-bg-fmenu: #7fffd4;
    --ds-bg-fsqare: #ffb6c1;

    --ds-bg-primary: #3161e0;
    --ds-txt-secondary: #8ea1e1;
}

html,
body {
    height: 100%;
}

.debug {

    header {
        background-color: var(--ds-bg-header);

        nav {
            background-color: var(--ds-bg-hmenu);

            a {
                text-decoration: none;
                color: black;
            }
        }

    }

    main {

        #jumbotron {
            background-color: var(--ds-bg-jumbo);

            #jumbox {
                background-color: var(--ds-bg-bjumbo);
            }
        }

        #invite_only,
        #fandom {
            background-color: var(--ds-bg-lighter);

        }

        #community,
        #technology {
            background-color: var(--ds-bg-light);

        }

        .box-img {
            background-color: var(--ds-bg-img);
        }

        .text {
            background-color: var(--ds-bg-text);
        }

        .tech_box {
            background-color: var(--ds-bg-article);
        }

        #extra_link {

            .external_link {
                border-style: dotted;
                background-color: var(--ds-bg-ext-link);
            }

            .internal_link {
                border-style: dotted;
                background-color: var(--ds-bg-extra-content);
            }
        }

    }

    main>#extra_link,
    footer {
        background-color: var(--ds-bg-footer);
    }

    footer {

        .fmenu {
            background-color: var(--ds-bg-fmenu);
        }

        img,
        input {
            background-color: var(--ds-bg-fsqare);
        }

    }
}

/* Utility */

.flex-container {
    display: flex;
}

.center {
    width: 80%;
    margin: auto;
}

.unstyle {
    list-style: none;
}

.text-center {
    text-align: center;
}

.input-button {
    border-style: none;
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}


/* header */

header {
    padding: 0.5rem;
}

.nmenu {
    justify-content: space-between;
    flex-wrap: wrap;
}

.link-menu {
    align-items: center;

    li {
        padding: 1rem;

        a {
            text-decoration: none;
            color: var(--ds-bg-lighter);
        }
    }
}

#login {
    height: 30px;
}

header,
#jumbotron {
    background-color: var(--ds-bg-primary);
}


/*main*/

/*jumbotron*/
#jumbotron {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    width: 100%;
    height: 25rem;
}

#jumbox {
    width: 50%;
    margin: auto;
    padding: 4rem;

    color: var(--ds-bg-lighter);

    h1 {
        font-size: 50px;
    }

    p {
        font-size: 17px;
        padding-top: 2rem;
    }

}

.jumbotton-container {
    padding-top: 1rem;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
}

#dw4mac,
#open-ds-b {
    font-size: 16px;
    padding: 0 1.5rem;
    height: 100%;
}

#open-ds-b {
    background-color: var(--ds-bg-footer);
    color: var(--ds-bg-lighter);
}

#dw4mac {
    background-color: var(--ds-bg-lighter);
}

#invite_only,
#technology {
    background-color: var(--ds-bg-lighter);
}

.pgb-text_img {
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;

    .box-img {
        flex-grow: 2;
    }

    .text {
        flex-grow: 1;
        padding: 3rem;
    }

    h2 {
        font-size: 40px;
    }

    p {
        padding-top: 2rem;
        font-size: 18px;
    }
}

#community {
    background-color: var(--ds-bg-light);

    .pgb-text_img {
        flex-direction: row-reverse;
        padding-bottom: 5rem;
    }
}

#technology {
    padding-top: 1.5rem;
    background-color: var(--ds-bg-light);
}

.tech_box {
    width: 80%;
    margin: auto;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;

    section {
        text-align: center;

        h1 {
            font-size: 50px;
        }

        p {
            padding-top: 2rem;
            padding-bottom: 2rem;

        }
    }



    .ftech {
        background-image: url(../img/stars.svg);
        background-size: contain;
        background-repeat: no-repeat;

        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;

        p {
            font-size: 30px;
        }

        #dw4mac {
            background-color: var(--ds-txt-secondary);
            color: var(--ds-bg-lighter);
            height: 50px;
            width: 250px;
            border-radius: 30px;
        }
    }
}

.el-box {
    min-height: 320px;
    justify-content: space-between;

    padding-top: 0.5rem;
    padding-bottom: 1rem;
    margin-bottom: 0.1rem;


    .external_link {
        flex-grow: 2;
    }

    .internal_link {
        flex-grow: 1;
    }
}

footer {
    padding-top: 1rem;
}


.fmenu {
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;

}